@charset "UTF-8";


@font-face {
	font-family: "lux-icons";
	src: url('../assets/fonts/lux-icons.eot');
	src: url('../assets/fonts/lux-icons.eot?#iefix') format('eot'),
	url('../assets/fonts/lux-icons.woff') format('woff'),
	url('../assets/fonts/lux-icons.ttf') format('truetype'),
	url('../assets/fonts/lux-icons.svg#lux-icons') format('svg');
}