

// Optus
$black-10: #e5e5e5;
$green-shadow: #68b529;
$orange-shadow: #d96f00;
$red-shadow: #b93100;
$teal-dark: #008a92;
$blue-light: #14768a;
$blue-dark: #005a77;
$blue-black: #033241;

$ux-usage-meter-tiered-soft-quota-color: $teal;
$usage-summary-panels-border: $teal;
